
// Fonts
// @import url('https://fonts.googleapis.com/css?family=Nunito');

// vendors
@import '~bootstrap/scss/bootstrap';
@import "vendor/tempusdominus-bootstrap-4.min";

body,
html {
  position: relative;
  width: 100%;
  height: 100%;
}

@import "sass/abstracts/functions";
@import "sass/abstracts/variables";

@import "sass/base/reset";
@import "sass/base/typography";
@import "sass/base/utilities";

@import "sass/components/buttons";
@import "sass/components/form";

@import "sass/layout/footer";
@import "sass/layout/header";
@import "sass/layout/nav";

@import "sass/pages/products";
@import "sass/pages/members";
@import "sass/pages/profile";
 /*rest*/
section:first-of-type{
padding-top:56px;
}
 .grid {
   height: 100%;
   position: relative;
 }

 .filterresultaat {
   height: 100%;
   overflow: auto;
 }

 .bg-green {
   background-color: $maincolor;
   color: $textmain;
 }

 .btn-green {
   background-color: $maincolor;
   color: $textmain;
 }

 .color-green {
   color: $textsec;
 }

 .card-icon {
   margin-top: -4.5rem;
 }

 .close {
   top: 1rem;
   right: 1rem;
 }

 .flag {
   display: inline-block;
   width: 16px;
   height: 11px;
   background: url("../images/icons/flags.png") no-repeat;
 }

 .flag.flag-gb {
   background-position: 0 0;
 }

 .flag.flag-nl {
   background-position: -16px 0;
 }

 .btt {
   position: fixed;
   right: 15px;
   bottom: 15px;
   z-index: 1000;
 }

 .thumbs {
   width: 55px;
   height: 55px;
 }

 .thumbs > img {
   width: 100%;
   height: 100%;
 }

 .workkind {
   margin-top: -3px;
   color: $textsec;
 }

 .fst {
   position: relative;
   width: 100%;
   height: 95vh;
 }

 .fso {
   height: 100%;
   padding-top: 56px;
 }

 .page1-2,
 .page1-3,
 .page1-4,
 .page1-5,
 .page1-6 {
   height: 330px;
 }

 .page1-1 {
   background-image: url("../images/bg/main-bg.jpg");
   background-repeat: no-repeat;
   /* background-attaQzchment: fixed; */
   background-position: center;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   background-size: cover;
 }
 @media all and (max-width: 1199px) {
   .page1-1 {
     background-image: url("../images/bg/bg-lg.jpg");
   }
 }
 @media all and (max-width: 991px) {
   .page1-1 {
     background-image: url("../images/bg/bg-mg.jpg");
   }
 }
 @media all and (max-width: 768px) {
   .page1-1 {
     background-image: url("../images/bg/bg-sg.jpg");
   }
 }
 @media all and (max-width: 575px) {
   .page1-1 {
     background-image: url("../images/bg/bg-xg.jpg");
   }
 }

 .page1-3,
 .page1-5,
 .page2-2,
 .page2-4 {
   background-color: $maincolor;
 }

 .keuze,
 .zoekhome,
 .zoekshop {
   position: relative;
 }

 .keuze {
   left: 50%;
   transform: translate(-50%,0);
 }

 .zoekform {
   position: relative;
   z-index: 2 !important;
   width: auto;
   height: auto;
   left: 50%;
   top: 50%;
   transform: translate(-50%,-50%);
 }

 .zoekhome {
   display: block;
 }

 .zoekshop {
   display: none;
 }

 .chevron {
   position: absolute;
   bottom: 0;
   text-align: center;
   height: 12%;
   width: 100%;
 }

 .chevron:before {
   content: "";
   position: absolute;
   top: 0;
   left: 0;
   width: 0;
   height: 0;
   border-bottom: 100px solid white;
   border-top: 46px solid transparent;
   border-left: 50vw solid white;
 }

 .chevron:after {
   content: "";
   position: absolute;
   top: 0;
   right: 0;
   width: 0;
   height: 0;
   border-bottom: 100px solid white;
   border-top: 46px solid transparent;
   border-right: 50vw solid white;
 }

 .apps {
   width: 100%;
   height: auto;
   max-height: 330px;
   max-width: 587px;
   display: block;
 }

 .devices {
   width: 100%;
   height: auto;
   max-height: 330px;
   display: block;
 }
 /*resize*/

 .w-20 {
   width: calc(100%/5) !important;
 }

 .w-33 {
   width: calc(100%/3) !important;
 }

 .steps-inner {
   width: 100%;
   height: auto;
   position: relative;
 }

 .step-wrapper {
   height: 100%;
   float: left;
 }

 .steps-btn,
 .steps-slider-dots-wrap .steps-slider-dots {
   display: none;
 }

 .productfilterbox .collapse,
 .shfooter .collapse {
   display: inherit;
 }
 @media only screen and (max-width: 1024px) {
   .steps-inner {
     width: 100%;
     height: 100%;
     overflow: hidden;
   }

   .steps-inner .align-step0 {
     margin-left: 0;
   }

   .steps-inner .align-step1 {
     margin-left: -100%;
   }

   .steps-inner .align-step2 {
     margin-left: -200%;
   }

   .steps-inner .align-step3 {
     margin-left: -300%;
   }

   .steps-inner .align-step4 {
     margin-left: -400%;
   }

   #resizehow,
   #resizepeopleview,
   #resizeyourav {
     width: 300%;
     height: 100%;
     overflow: hidden;
     -webkit-transition: margin-left 500ms ease-in-out;
     -moz-transition: margin-left 500ms ease-in-out;
     -o-transition: margin-left 500ms ease-in-out;
     -ms-transition: margin-left 500ms ease-in-out;
     transition: margin-left 500ms ease-in-out;
   }

   #resizecijfers {
     width: 500%;
     overflow: hidden;
     -webkit-transition: margin-left 500ms ease-in-out;
     -moz-transition: margin-left 500ms ease-in-out;
     -o-transition: margin-left 500ms ease-in-out;
     -ms-transition: margin-left 500ms ease-in-out;
     transition: margin-left 500ms ease-in-out;
   }

   .steps-btn {
     position: absolute;
     z-index: 5;
     top: 50%;
     transform: translate(0, -50%);
     font-size: 50px;
     color: $maincolor;
     text-align: center;
     cursor: pointer;
     display: block;
     line-height: 0;
     border: none;
     background: none;
   }

   .steps-btn-backward {
     left: 0;
   }

   .steps-btn-forward {
     right: 0;
   }

   .steps-btn-backward:active,
   .steps-btn-backward:focus,
   .steps-btn-backward:hover,
   .steps-btn-forward:active,
   .steps-btn-forward:focus,
   .steps-btn-forward:hover {
     color: #28a745;
     text-shadow: 0 0 5px white;
   }

   .steps-inner .steps-slider-dots-wrap {
     position: absolute;
     transform: translate(-50%, 0);
     bottom: 0;
     left: 50%;
     height: 30px;
     text-align: center;
   }

   .steps-inner .steps-slider-dots-wrap .steps-slider-dots {
     cursor: pointer;
     display: none;
     border-radius: 50%;
     background-color: #fff;
     border: solid 1px #cfcac4;
     font-size: 15px;
     width: 20px;
     height: 20px;
   }

   .steps-inner .steps-slider-dots-wrap .steps-slider-dots.steps-slider-dot-active,
   .steps-slider-dots-wrap .steps-slider-dots:active,
   .steps-slider-dots-wrap .steps-slider-dots:focus {
     background-color: $maincolor;
     box-shadow: 0 0 5px white;
   }

   .steps-inner .steps-slider-dots-wrap .steps-slider-dots {
     display: inline-block;
   }

   .productfilterbox .collapse2 {
     display: none;
   }

   .productfilterbox .collapse2.show {
     display: block;
   }
 }
 @media (max-width:767px) {
   .shfooter ul {
     margin-bottom: 0;
   }

   .shfooter .collapse {
     display: none;
   }

   .shfooter .collapse.show {
     display: block;
   }

   .shfooter .title .fa-angle-up,
   .shfooter .title[aria-expanded=true] .fa-angle-down {
     display: none;
   }

   .shfooter .title[aria-expanded=true] .fa-angle-up {
     display: block;
   }

   .shfooter .navbar-toggler {
     display: inline-block;
     padding: 0;
   }

   .navbar-brand span {
     display: none;
   }
 }
